$primary-color: #5b505c;
$secondary-color: #b90ed0;
$youtube: #ff0000;
$articles: #ffac83;
$community: #3f78c9;
$courses: #49c4a3;
$white: #d0d0d0;
$black: #282828;

$lighten-2: 15;
$lighten: 5;
$darken: 5;
$darken-2: 25;

$colors: (
    primary: (
        base: $primary-color,
        light-2: lighten($primary-color, $lighten-2),
        light: lighten($primary-color, $lighten),
        dark: darken($primary-color, $darken),
        dark-2: darken($primary-color, $darken-2),
    ),
    secondary: (
        base: $secondary-color,
        light-2: lighten($secondary-color, $lighten-2),
        light: lighten($secondary-color, $lighten),
        dark: darken($secondary-color, $darken),
        dark-2: darken($secondary-color, $darken-2),
    ),
    yt: (
        base: $youtube,
        light-2: lighten($youtube, $lighten-2),
        light: lighten($youtube, $lighten),
        dark: darken($youtube, $darken),
        dark-2: darken($youtube, $darken-2),
    ),
    articles: (
        base: $articles,
        light-2: lighten($articles, $lighten-2),
        light: lighten($articles, $lighten),
        dark: darken($articles, $darken),
        dark-2: darken($articles, $darken-2),
    ),
    com: (
        base: $community,
        light-2: lighten($community, $lighten-2),
        light: lighten($community, $lighten),
        dark: darken($community, $darken),
        dark-2: darken($community, $darken-2),
    ),
    course: (
        base: $courses,
        light-2: lighten($courses, $lighten-2),
        light: lighten($courses, $lighten),
        dark: darken($courses, $darken),
        dark-2: darken($courses, $darken-2),
    ),
    neutral: (
        base: #5d6063,
        light-2: #fff,
        light: #d6dfe4,
        dark-2: $black,
    ),
);

@function clr($base, $shade: base) {
    $color: map-get(map-get($colors, $base), $shade);
    @return $color;
}
