@mixin underline-animation-outwards($animate, $color, $size) {
    &:before,
    &:after {
        content: "";
        position: absolute;
        bottom: $size * -1;
        width: 0px;
        height: $size;
        margin: $size 0 0;
        transition: $animate;
        opacity: 0;
        background-color: $color;
    }
    &:before {
        left: 50%;
    }
    &:after {
        right: 50%;
    }

    &:hover,
    &:focus {
        cursor: pointer;
        &:before,
        &:after {
            opacity: 1;
            width: 50%;
        }
    }
}
// e.g. underline-animation-outwards(all 0.25s ease-out, lightblue, 3px);


